/*body {
  font-family: "Times New Roman", "Times", serif;
}*/

body{
  font-family: Copperplate, "Copperplate Gothic Light",fantasy;
  margin-left: 3vw;
  margin-right: 3vw;
}

.page-wrapper{
  font-size: calc(5px + 1.5vw);
}

header {
  font-size: calc(8px + 1vw);
  text-align: center;
  margin: 0;
  padding: 0;
  border-bottom: dotted black;
}

/*The font did not change, need to fix that*/
input[type="text"],
button {
  margin: 10px;
  padding: 5px;
}

/* Style the button */
/*The font did not change, need to fix that*/
button {
  background-color: #927859;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #4e370e;
}

#result {
  margin: 10px;
  padding: 5px;
  font-style: italic;
  text-align: center;
}

footer { 
  border-top: dotted black;
  text-align: center; 
  padding: 5px;
  font-size: calc(5px + 1vw);}
        
@media screen and (max-width: 600px) {
  input[type="text"],
  button {
    width: 100%;
    margin: 10px 0;
  }
}